@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "poppins", "sans-serif";
}

@font-face {
  font-family: "neuchaFont";
  src: url("./assets/neucha.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
